<h1 style="text-align: center; font-weight: bold;"><u>Import et chargement des donnÃ©es</u></h1>

In [1]:
import sqlite3
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans 
from sklearn.cluster import DBSCAN
from sklearn.decomposition import PCA
from sklearn.metrics import adjusted_rand_score
from scipy.stats import ks_2samp
from myFonctions import (
    get_cluster_labels,
    compute_ari_between_periods,
    compute_ks_test_between_periods,
    plot_ari,
    plot_feature_distribution
)
import warnings

In [2]:
# Chemin vers la base de donnÃ©es SQLite
db_path = 'data/olist.db'

# CrÃ©er une connexion Ã  la base de donnÃ©es SQLite
conn = sqlite3.connect(db_path)

In [3]:
# 1. Extraire les dates min/max
query_min_max = """
SELECT MIN(order_purchase_timestamp) AS min_date,
       MAX(order_purchase_timestamp) AS max_date
FROM orders
"""
min_date, max_date = pd.read_sql_query(query_min_max, conn).iloc[0]
min_date = pd.to_datetime(min_date)
max_date = pd.to_datetime(max_date)

# 2. GÃ©nÃ©rer tous les trimestres
trimestres = pd.period_range(start=min_date, end=max_date, freq='Q')

# 3. Identifier les trimestres avec au moins une commande
df_dates = pd.read_sql_query("SELECT order_purchase_timestamp FROM orders", conn)
df_dates['order_purchase_timestamp'] = pd.to_datetime(df_dates['order_purchase_timestamp'])
df_dates['period'] = df_dates['order_purchase_timestamp'].dt.to_period('Q')
trimestres_utiles = df_dates['period'].drop_duplicates().sort_values()

# 4. GÃ©nÃ©rer le RFM pour chaque trimestre
rfm_all_periods = []

for period in trimestres_utiles:
    start = period.start_time
    end = period.end_time

    query = f"""
    WITH max_date AS (
        SELECT DATE('{end.date()}') AS global_max_date
    ),
    customer_orders AS (
        SELECT 
            c.customer_unique_id,
            o.order_id,
            o.order_purchase_timestamp
        FROM customers c
        JOIN orders o ON c.customer_id = o.customer_id
        WHERE o.order_purchase_timestamp BETWEEN '{start.date()}' AND '{end.date()}'
    ),
    payments AS (
        SELECT 
            co.customer_unique_id,
            MAX(co.order_purchase_timestamp) AS last_order_date,
            COUNT(DISTINCT co.order_id) AS frequency,
            SUM(op.payment_value) AS monetary
        FROM customer_orders co
        JOIN order_pymts op ON co.order_id = op.order_id
        GROUP BY co.customer_unique_id
    ),
    rfm AS (
        SELECT 
            p.customer_unique_id,
            CAST(JULIANDAY(m.global_max_date) - JULIANDAY(p.last_order_date) AS INT) AS recency,
            p.frequency,
            ROUND(p.monetary, 2) AS monetary
        FROM payments p
        CROSS JOIN max_date m
    )

    SELECT *, '{period}' AS period
    FROM rfm
    """

    df_rfm = pd.read_sql_query(query, conn)
    rfm_all_periods.append(df_rfm)

rfm_all_periods = pd.concat(rfm_all_periods, ignore_index=True)

# 5. Calcul ARI et KS pour chaque paire de trimestres consÃ©cutifs
periods = sorted(rfm_all_periods['period'].unique())
results = []

for i in range(len(periods) - 1):
    period_1 = periods[i]
    period_2 = periods[i + 1]

    df1 = rfm_all_periods[rfm_all_periods['period'] == period_1].copy()
    df2 = rfm_all_periods[rfm_all_periods['period'] == period_2].copy()

    common_ids = set(df1.customer_unique_id).intersection(df2.customer_unique_id)
    df1 = df1[df1.customer_unique_id.isin(common_ids)].set_index("customer_unique_id")
    df2 = df2[df2.customer_unique_id.isin(common_ids)].set_index("customer_unique_id")

    if len(common_ids) < 5:
        continue  # ignorer si trop peu de clients communs

    scaler = StandardScaler()
    X1 = scaler.fit_transform(df1[['recency', 'frequency', 'monetary']])
    X2 = scaler.fit_transform(df2[['recency', 'frequency', 'monetary']])

    kmeans_1 = KMeans(n_clusters=4, random_state=42).fit(X1)
    kmeans_2 = KMeans(n_clusters=4, random_state=42).fit(X2)

    dbscan_1 = DBSCAN(eps=1.0, min_samples=5).fit(X1)
    dbscan_2 = DBSCAN(eps=1.0, min_samples=5).fit(X2)

    ari_kmeans = adjusted_rand_score(kmeans_1.labels_, kmeans_2.labels_)
    ari_dbscan = adjusted_rand_score(dbscan_1.labels_, dbscan_2.labels_)

    ks_results = {
        'recency': ks_2samp(df1['recency'], df2['recency']).pvalue,
        'frequency': ks_2samp(df1['frequency'], df2['frequency']).pvalue,
        'monetary': ks_2samp(df1['monetary'], df2['monetary']).pvalue,
    }

    results.append({
        'period_pair': f"{period_1} â†’ {period_2}",
        'n_clients_common': len(common_ids),
        'ARI_kmeans': ari_kmeans,
        'ARI_dbscan': ari_dbscan,
        'KS_pvalue_recency': ks_results['recency'],
        'KS_pvalue_frequency': ks_results['frequency'],
        'KS_pvalue_monetary': ks_results['monetary'],
    })

df_eval = pd.DataFrame(results)
display(df_eval)

,period_pair,n_clients_common,ARI_kmeans,ARI_dbscan,KS_pvalue_recency,KS_pvalue_frequency,KS_pvalue_monetary
0,2017Q1 â†’ 2017Q2,48,0.028896,0.226282,1.790296e-02,1.0,0.692660
1,2017Q2 â†’ 2017Q3,97,0.038491,0.140347,7.071673e-02,1.0,0.963766
2,2017Q3 â†’ 2017Q4,132,0.018704,0.246018,4.940724e-04,1.0,0.969610
3,2017Q4 â†’ 2018Q1,137,0.028731,0.173639,1.088649e-03,1.0,0.860613
4,2018Q1 â†’ 2018Q2,195,0.017444,0.125570,3.598142e-05,1.0,0.081057
5,2018Q2 â†’ 2018Q3,102,0.004690,0.038812,6.693788e-09,1.0,0.994932

### ðŸ“Š RÃ©sumÃ© des indicateurs d'Ã©volution des clusters (RFM trimestriel)

| Indicateur             | RÃ©sultat observÃ©                  | InterprÃ©tation                                                                 |
|------------------------|-----------------------------------|--------------------------------------------------------------------------------|
| **ARI - KMeans**       | TrÃ¨s faible (max â‰ˆ 0.04)          | Les clients changent frÃ©quemment de groupe, **clustering instable**.          |
| **ARI - DBSCAN**       | Faible Ã  modÃ©rÃ© (0.04 Ã  0.25)     | Un peu plus robuste que KMeans, mais **reste instable dans le temps**.        |
| **KS Test â€“ Recency**  | p-values souvent < 0.05           | **Variation significative** dans la rÃ©cence : les clients changent d'activitÃ©. |
| **KS Test â€“ Frequency**| p-values â‰ˆ 1.0                    | **Stable** : les clients achÃ¨tent avec une frÃ©quence similaire.               |
| **KS Test â€“ Monetary** | p-values Ã©levÃ©es (souvent > 0.6)  | **Stable** : les montants dÃ©pensÃ©s restent globalement constants.             |

ðŸ“Œ Analyse stratÃ©gique : passer Ã  une analyse mensuelle ?
Les rÃ©sultats montrent que :

Les comportements de frÃ©quence et montant sont stables,

Mais les clusters restent instables Ã  cause de changements frÃ©quents dans la rÃ©cence, ce qui affecte fortement le RFM global.

Cela soulÃ¨ve une question cruciale :
ðŸ‘‰ Est-ce que lâ€™agrÃ©gation trimestrielle est trop grossiÃ¨re pour capturer les dynamiques comportementales des clients ?

âœ… Pourquoi tester le RFM tous les mois ?

Argument	Avantage attendu
Plus grande granularitÃ© temporelle	Permet de dÃ©tecter plus tÃ´t les changements dâ€™habitude.
Meilleure dÃ©tection des Ã©vÃ©nements rÃ©cents	Utile si le comportement client varie rapidement (ex : promotions, saisons).
Peut rÃ©vÃ©ler des micro-segments plus cohÃ©rents	Certains segments peuvent Ãªtre stables Ã  court terme, mais invisibles Ã  lâ€™Ã©chelle trimestrielle.
Suivi plus prÃ©cis de la rÃ©cence	Comme câ€™est la dimension la plus instable, elle sera mieux mesurÃ©e mensuellement.

In [4]:
warnings.filterwarnings("ignore", message="ks_2samp: Exact calculation unsuccessful.*")
# 1. Extraire les dates min/max
query_min_max = """
SELECT MIN(order_purchase_timestamp) AS min_date,
       MAX(order_purchase_timestamp) AS max_date
FROM orders
"""
min_date, max_date = pd.read_sql_query(query_min_max, conn).iloc[0]
min_date = pd.to_datetime(min_date)
max_date = pd.to_datetime(max_date)

# 2. GÃ©nÃ©rer tous les mois
mois = pd.period_range(start=min_date, end=max_date, freq='M')

# 3. Identifier les mois avec au moins une commande
df_dates = pd.read_sql_query("SELECT order_purchase_timestamp FROM orders", conn)
df_dates['order_purchase_timestamp'] = pd.to_datetime(df_dates['order_purchase_timestamp'])
df_dates['period'] = df_dates['order_purchase_timestamp'].dt.to_period('M')
mois_utiles = df_dates['period'].drop_duplicates().sort_values()

# 4. GÃ©nÃ©rer le RFM pour chaque mois
rfm_all_periods = []

for period in mois_utiles:
    start = period.start_time
    end = period.end_time

    query = f"""
    WITH max_date AS (
        SELECT DATE('{end.date()}') AS global_max_date
    ),
    customer_orders AS (
        SELECT 
            c.customer_unique_id,
            o.order_id,
            o.order_purchase_timestamp
        FROM customers c
        JOIN orders o ON c.customer_id = o.customer_id
        WHERE o.order_purchase_timestamp BETWEEN '{start.date()}' AND '{end.date()}'
    ),
    payments AS (
        SELECT 
            co.customer_unique_id,
            MAX(co.order_purchase_timestamp) AS last_order_date,
            COUNT(DISTINCT co.order_id) AS frequency,
            SUM(op.payment_value) AS monetary
        FROM customer_orders co
        JOIN order_pymts op ON co.order_id = op.order_id
        GROUP BY co.customer_unique_id
    ),
    rfm AS (
        SELECT 
            p.customer_unique_id,
            CAST(JULIANDAY(m.global_max_date) - JULIANDAY(p.last_order_date) AS INT) AS recency,
            p.frequency,
            ROUND(p.monetary, 2) AS monetary
        FROM payments p
        CROSS JOIN max_date m
    )

    SELECT *, '{period}' AS period
    FROM rfm
    """

    df_rfm = pd.read_sql_query(query, conn)
    rfm_all_periods.append(df_rfm)

rfm_all_periods = pd.concat(rfm_all_periods, ignore_index=True)

# 5. Calcul ARI et KS pour chaque paire de mois consÃ©cutifs
periods = sorted(rfm_all_periods['period'].unique())
results = []

for i in range(len(periods) - 1):
    period_1 = periods[i]
    period_2 = periods[i + 1]

    df1 = rfm_all_periods[rfm_all_periods['period'] == period_1].copy()
    df2 = rfm_all_periods[rfm_all_periods['period'] == period_2].copy()

    common_ids = set(df1.customer_unique_id).intersection(df2.customer_unique_id)
    df1 = df1[df1.customer_unique_id.isin(common_ids)].set_index("customer_unique_id")
    df2 = df2[df2.customer_unique_id.isin(common_ids)].set_index("customer_unique_id")

    if len(common_ids) < 5:
        continue  # ignorer si trop peu de clients communs

    scaler = StandardScaler()
    X1 = scaler.fit_transform(df1[['recency', 'frequency', 'monetary']])
    X2 = scaler.fit_transform(df2[['recency', 'frequency', 'monetary']])

    kmeans_1 = KMeans(n_clusters=4, random_state=42).fit(X1)
    kmeans_2 = KMeans(n_clusters=4, random_state=42).fit(X2)

    dbscan_1 = DBSCAN(eps=1.0, min_samples=5).fit(X1)
    dbscan_2 = DBSCAN(eps=1.0, min_samples=5).fit(X2)

    ari_kmeans = adjusted_rand_score(kmeans_1.labels_, kmeans_2.labels_)
    ari_dbscan = adjusted_rand_score(dbscan_1.labels_, dbscan_2.labels_)

    ks_results = {
        'recency': ks_2samp(df1['recency'], df2['recency']).pvalue,
        'frequency': ks_2samp(df1['frequency'], df2['frequency']).pvalue,
        'monetary': ks_2samp(df1['monetary'], df2['monetary']).pvalue,
    }

    results.append({
        'period_pair': f"{period_1} â†’ {period_2}",
        'n_clients_common': len(common_ids),
        'ARI_kmeans': ari_kmeans,
        'ARI_dbscan': ari_dbscan,
        'KS_pvalue_recency': ks_results['recency'],
        'KS_pvalue_frequency': ks_results['frequency'],
        'KS_pvalue_monetary': ks_results['monetary'],
    })

df_eval = pd.DataFrame(results)
display(df_eval)

,period_pair,n_clients_common,ARI_kmeans,ARI_dbscan,KS_pvalue_recency,KS_pvalue_frequency,KS_pvalue_monetary
0,2017-03 â†’ 2017-04,13,0.014440,0.082353,0.126488,1.000000,0.999212
1,2017-04 â†’ 2017-05,14,-0.086567,-0.136553,0.635485,1.000000,0.999592
2,2017-05 â†’ 2017-06,18,0.070729,0.061350,0.132394,1.000000,0.971540
3,2017-06 â†’ 2017-07,15,0.021253,0.184994,0.678138,1.000000,0.938331
4,2017-07 â†’ 2017-08,23,0.076579,0.072168,0.024720,0.999999,0.421782
5,2017-08 â†’ 2017-09,31,0.048171,-0.073979,0.079120,1.000000,0.823454
6,2017-09 â†’ 2017-10,30,0.089063,0.096886,0.392945,1.000000,0.807963
7,2017-10 â†’ 2017-11,36,-0.010073,-0.064352,0.706867,1.000000,0.510011
8,2017-11 â†’ 2017-12,40,0.132505,0.153288,0.000066,1.000000,0.918805
9,2017-12 â†’ 2018-01,19,-0.084507,-0.118145,0.537929,0.978078,0.537929
10,2018-01 â†’ 2018-02,27,-0.004552,-0.100806,0.935662,1.000000,0.753697
11,2018-02 â†’ 2018-03,23,-0.070781,-0.009443,0.124295,0.992377,0.421782
12,2018-03 â†’ 2018-04,34,0.316368,0.233816,0.672684,1.000000,0.672684
13,2018-04 â†’ 2018-05,44,0.083338,-0.053163,0.011526,1.000000,0.318829
14,2018-05 â†’ 2018-06,38,0.008463,-0.061147,0.737879,1.000000,0.903253
15,2018-06 â†’ 2018-07,21,0.179783,0.101604,0.602813,1.000000,0.987044
16,2018-07 â†’ 2018-08,48,0.034450,0.497903,0.000956,0.999992,0.960172
17,2018-08 â†’ 2018-09,8,0.269565,1.000000,0.660140,0.980109,0.980109

| PÃ©riode               | Clients Communs | ARI KMeans | ARI DBSCAN | RFM Change ?      | KMeans Stable ? | DBSCAN Stable ? | Conclusion SynthÃ©tique                                       |
|-----------------------|------------------|------------|------------|-------------------|------------------|------------------|----------------------------------------------------------------|
| 2017-03 â†’ 2017-04     | 13               | 0.014      | 0.082      | ðŸŸ¢ Stable         | âŒ Faible        | âŒ Faible        | Clusters trÃ¨s instables, pas de changement RFM                |
| 2017-04 â†’ 2017-05     | 14               | -0.087     | -0.137     | ðŸŸ¢ Stable         | âŒ TrÃ¨s faible   | âŒ TrÃ¨s faible   | InstabilitÃ© des deux modÃ¨les sans Ã©volution comportementale    |
| 2017-05 â†’ 2017-06     | 18               | 0.071      | 0.061      | ðŸŸ¢ Stable         | âš ï¸ Moyenne       | âš ï¸ Moyenne       | LÃ©gÃ¨re stabilitÃ©, comportement clients constant                |
| 2017-06 â†’ 2017-07     | 15               | 0.021      | 0.185      | ðŸŸ¢ Stable         | âŒ Faible        | âš ï¸ Moyenne       | DBSCAN un peu plus cohÃ©rent que KMeans                        |
| 2017-07 â†’ 2017-08     | 23               | 0.077      | 0.072      | ðŸ”¥ Recency        | âš ï¸ Moyenne       | âš ï¸ Moyenne       | DÃ©but de changement RFM, lÃ©gers ajustements de cluster        |
| 2017-08 â†’ 2017-09     | 31               | 0.048      | -0.074     | ðŸŸ¢ Stable         | âš ï¸ Faible        | âŒ TrÃ¨s faible   | Faible cohÃ©rence, surtout DBSCAN                             |
| 2017-09 â†’ 2017-10     | 30               | 0.089      | 0.097      | ðŸŸ¢ Stable         | âš ï¸ Moyenne       | âš ï¸ Moyenne       | StabilitÃ© modÃ©rÃ©e dans les deux approches                     |
| 2017-10 â†’ 2017-11     | 36               | -0.010     | -0.064     | ðŸŸ¢ Stable         | âŒ TrÃ¨s faible   | âŒ TrÃ¨s faible   | InstabilitÃ© injustifiÃ©e dans les deux modÃ¨les                 |
| 2017-11 â†’ 2017-12     | 40               | 0.133      | 0.153      | ðŸ”¥ Recency        | âš ï¸ Moyenne       | âš ï¸ Moyenne       | RÃ©cence change, stabilitÃ© moyenne                            |
| 2017-12 â†’ 2018-01     | 19               | -0.085     | -0.118     | ðŸŸ¢ Stable         | âŒ Faible        | âŒ Faible        | Cluster incohÃ©rent sans changement de fond                    |
| 2018-01 â†’ 2018-02     | 27               | -0.005     | -0.101     | ðŸŸ¢ Stable         | âŒ Faible        | âŒ Faible        | Faible stabilitÃ© malgrÃ© comportement stable                   |
| 2018-02 â†’ 2018-03     | 23               | -0.071     | -0.009     | ðŸŸ¢ Stable         | âŒ Faible        | âš ï¸ Moyenne       | LÃ©ger mieux pour DBSCAN, mais pas convaincant                 |
| 2018-03 â†’ 2018-04     | 34               | 0.316      | 0.234      | ðŸŸ¢ Stable         | âœ… Bonne         | âœ… Bonne         | Excellente cohÃ©rence dans les deux modÃ¨les                    |
| 2018-04 â†’ 2018-05     | 44               | 0.083      | -0.053     | ðŸ”¥ Recency        | âš ï¸ Moyenne       | âŒ Faible        | DBSCAN perd en cohÃ©rence malgrÃ© rupture rÃ©cence              |
| 2018-05 â†’ 2018-06     | 38               | 0.008      | -0.061     | ðŸŸ¢ Stable         | âŒ Faible        | âŒ Faible        | IncohÃ©rence persistante, pas de comportement nouveau          |
| 2018-06 â†’ 2018-07     | 21               | 0.180      | 0.102      | ðŸŸ¢ Stable         | âš ï¸ Moyenne       | âš ï¸ Moyenne       | Meilleure tenue des clusters, stabilitÃ© comportementale       |
| 2018-07 â†’ 2018-08     | 48               | 0.034      | 0.498      | ðŸ”¥ Recency        | âŒ Faible        | âœ… Bonne         | DBSCAN rÃ©agit mieux Ã  la rupture comportementale              |
| 2018-08 â†’ 2018-09     | 8                | 0.270      | 1.000      | ðŸŸ¢ Stable         | âœ… Bonne         | âœ… Excellente     | TrÃ¨s forte stabilitÃ©, mais effectif trop faible pour conclure |

In [5]:
# 1. Extraire les dates min/max
query_min_max = """
SELECT MIN(order_purchase_timestamp) AS min_date,
       MAX(order_purchase_timestamp) AS max_date
FROM orders
"""
min_date, max_date = pd.read_sql_query(query_min_max, conn).iloc[0]
min_date = pd.to_datetime(min_date)
max_date = pd.to_datetime(max_date)

# 2. GÃ©nÃ©rer des bornes de pÃ©riodes tous les 15 jours
quinzaines = pd.date_range(start=min_date, end=max_date, freq='15D')

# 3. VÃ©rifier les pÃ©riodes avec commandes
df_dates = pd.read_sql_query("SELECT order_purchase_timestamp FROM orders", conn)
df_dates['order_purchase_timestamp'] = pd.to_datetime(df_dates['order_purchase_timestamp'])

# 4. GÃ©nÃ©rer le RFM pour chaque pÃ©riode de 15 jours
rfm_all_periods = []

for i in range(len(quinzaines) - 1):
    start = quinzaines[i]
    end = quinzaines[i + 1]

    # VÃ©rifier prÃ©sence de commandes
    has_orders = df_dates[
        (df_dates['order_purchase_timestamp'] >= start) &
        (df_dates['order_purchase_timestamp'] < end)
    ]

    if has_orders.empty:
        continue

    query = f"""
    WITH max_date AS (
        SELECT DATE('{end.date()}') AS global_max_date
    ),
    customer_orders AS (
        SELECT 
            c.customer_unique_id,
            o.order_id,
            o.order_purchase_timestamp
        FROM customers c
        JOIN orders o ON c.customer_id = o.customer_id
        WHERE o.order_purchase_timestamp BETWEEN '{start.date()}' AND '{end.date()}'
    ),
    payments AS (
        SELECT 
            co.customer_unique_id,
            MAX(co.order_purchase_timestamp) AS last_order_date,
            COUNT(DISTINCT co.order_id) AS frequency,
            SUM(op.payment_value) AS monetary
        FROM customer_orders co
        JOIN order_pymts op ON co.order_id = op.order_id
        GROUP BY co.customer_unique_id
    ),
    rfm AS (
        SELECT 
            p.customer_unique_id,
            CAST(JULIANDAY(m.global_max_date) - JULIANDAY(p.last_order_date) AS INT) AS recency,
            p.frequency,
            ROUND(p.monetary, 2) AS monetary
        FROM payments p
        CROSS JOIN max_date m
    )

    SELECT *, '{start.date()} â†’ {end.date()}' AS period
    FROM rfm
    """

    df_rfm = pd.read_sql_query(query, conn)
    rfm_all_periods.append(df_rfm)

# Fusionner tous les RFM
rfm_all_periods = pd.concat(rfm_all_periods, ignore_index=True)

# 5. Ã‰valuer la stabilitÃ© entre pÃ©riodes consÃ©cutives
periods = sorted(rfm_all_periods['period'].unique())
results = []

for i in range(len(periods) - 1):
    period_1 = periods[i]
    period_2 = periods[i + 1]

    df1 = rfm_all_periods[rfm_all_periods['period'] == period_1].copy()
    df2 = rfm_all_periods[rfm_all_periods['period'] == period_2].copy()

    common_ids = set(df1.customer_unique_id).intersection(df2.customer_unique_id)
    df1 = df1[df1.customer_unique_id.isin(common_ids)].set_index("customer_unique_id")
    df2 = df2[df2.customer_unique_id.isin(common_ids)].set_index("customer_unique_id")

    if len(common_ids) < 5:
        continue  # ignorer si trop peu de clients communs

    scaler = StandardScaler()
    X1 = scaler.fit_transform(df1[['recency', 'frequency', 'monetary']])
    X2 = scaler.fit_transform(df2[['recency', 'frequency', 'monetary']])

    # Clustering
    kmeans_1 = KMeans(n_clusters=4, random_state=42).fit(X1)
    kmeans_2 = KMeans(n_clusters=4, random_state=42).fit(X2)

    dbscan_1 = DBSCAN(eps=1.0, min_samples=5).fit(X1)
    dbscan_2 = DBSCAN(eps=1.0, min_samples=5).fit(X2)

    # StabilitÃ© des clusters
    ari_kmeans = adjusted_rand_score(kmeans_1.labels_, kmeans_2.labels_)
    ari_dbscan = adjusted_rand_score(dbscan_1.labels_, dbscan_2.labels_)

    # Test KS pour la stabilitÃ© des distributions
    ks_results = {
        'recency': ks_2samp(df1['recency'], df2['recency']).pvalue,
        'frequency': ks_2samp(df1['frequency'], df2['frequency']).pvalue,
        'monetary': ks_2samp(df1['monetary'], df2['monetary']).pvalue,
    }

    results.append({
        'period_pair': f"{period_1} â†’ {period_2}",
        'n_clients_common': len(common_ids),
        'ARI_kmeans': ari_kmeans,
        'ARI_dbscan': ari_dbscan,
        'KS_pvalue_recency': ks_results['recency'],
        'KS_pvalue_frequency': ks_results['frequency'],
        'KS_pvalue_monetary': ks_results['monetary'],
    })

# 6. RÃ©sultat final
df_eval = pd.DataFrame(results)
display(df_eval)

,period_pair,n_clients_common,ARI_kmeans,ARI_dbscan,KS_pvalue_recency,KS_pvalue_frequency,KS_pvalue_monetary
0,2017-02-01 â†’ 2017-02-16 â†’ 2017-02-16 â†’ 2017-03-03,8,0.026087,1.000000,0.660140,1.000000,0.660140
1,2017-03-18 â†’ 2017-04-02 â†’ 2017-04-02 â†’ 2017-04-17,5,-0.111111,1.000000,1.000000,1.000000,1.000000
2,2017-04-02 â†’ 2017-04-17 â†’ 2017-04-17 â†’ 2017-05-02,5,-0.111111,1.000000,0.357143,1.000000,1.000000
3,2017-04-17 â†’ 2017-05-02 â†’ 2017-05-02 â†’ 2017-05-17,7,-0.037037,1.000000,0.575175,0.999961,0.962704
4,2017-05-02 â†’ 2017-05-17 â†’ 2017-05-17 â†’ 2017-06-01,9,-0.020243,-0.012500,0.125874,1.000000,0.730111
5,2017-05-17 â†’ 2017-06-01 â†’ 2017-06-01 â†’ 2017-06-16,6,0.285714,1.000000,0.474026,1.000000,0.930736
6,2017-06-01 â†’ 2017-06-16 â†’ 2017-06-16 â†’ 2017-07-01,5,-0.111111,1.000000,1.000000,1.000000,0.079365
7,2017-07-01 â†’ 2017-07-16 â†’ 2017-07-16 â†’ 2017-07-31,12,0.030651,0.022222,0.099547,1.000000,0.536098
8,2017-07-16 â†’ 2017-07-31 â†’ 2017-07-31 â†’ 2017-08-15,11,0.036558,0.000000,0.479150,1.000000,0.074661
9,2017-07-31 â†’ 2017-08-15 â†’ 2017-08-15 â†’ 2017-08-30,9,0.172414,0.000000,0.351707,1.000000,0.989469
10,2017-08-30 â†’ 2017-09-14 â†’ 2017-09-14 â†’ 2017-09-29,9,0.428571,0.555556,0.006294,1.000000,0.989469
11,2017-09-14 â†’ 2017-09-29 â†’ 2017-09-29 â†’ 2017-10-14,6,-0.153846,1.000000,0.142857,1.000000,0.930736
12,2017-09-29 â†’ 2017-10-14 â†’ 2017-10-14 â†’ 2017-10-29,9,-0.185185,0.000000,0.989469,1.000000,0.351707
13,2017-10-14 â†’ 2017-10-29 â†’ 2017-10-29 â†’ 2017-11-13,10,0.123077,0.000000,0.417524,1.000000,0.994458
14,2017-10-29 â†’ 2017-11-13 â†’ 2017-11-13 â†’ 2017-11-28,12,0.102285,0.000000,0.868982,1.000000,0.536098
15,2017-11-13 â†’ 2017-11-28 â†’ 2017-11-28 â†’ 2017-12-13,28,0.136773,0.193483,0.010890,1.000000,0.944086
16,2017-11-28 â†’ 2017-12-13 â†’ 2017-12-13 â†’ 2017-12-28,6,-0.250000,1.000000,0.474026,1.000000,0.142857
17,2017-12-13 â†’ 2017-12-28 â†’ 2017-12-28 â†’ 2018-01-12,5,-0.111111,1.000000,0.873016,1.000000,1.000000
18,2017-12-28 â†’ 2018-01-12 â†’ 2018-01-12 â†’ 2018-01-27,14,0.151399,-0.060909,0.343320,1.000000,0.635485
19,2018-01-12 â†’ 2018-01-27 â†’ 2018-01-27 â†’ 2018-02-11,8,-0.083333,1.000000,0.660140,1.000000,0.660140
20,2018-02-11 â†’ 2018-02-26 â†’ 2018-02-26 â†’ 2018-03-13,7,-0.235294,1.000000,0.212121,0.999961,0.575175
21,2018-02-26 â†’ 2018-03-13 â†’ 2018-03-13 â†’ 2018-03-28,11,-0.116505,-0.100000,0.479150,1.000000,0.997097
22,2018-03-13 â†’ 2018-03-28 â†’ 2018-03-28 â†’ 2018-04-12,14,-0.007179,-0.060909,0.920516,1.000000,0.920516
23,2018-03-28 â†’ 2018-04-12 â†’ 2018-04-12 â†’ 2018-04-27,8,0.151515,1.000000,0.660140,1.000000,0.980109
24,2018-04-12 â†’ 2018-04-27 â†’ 2018-04-27 â†’ 2018-05-12,10,0.166667,0.000000,0.786930,1.000000,0.167821
25,2018-04-27 â†’ 2018-05-12 â†’ 2018-05-12 â†’ 2018-05-27,12,0.398714,-0.079019,0.536098,1.000000,1.000000
26,2018-05-12 â†’ 2018-05-27 â†’ 2018-05-27 â†’ 2018-06-11,14,-0.011111,0.048338,0.343320,1.000000,0.920516
27,2018-05-27 â†’ 2018-06-11 â†’ 2018-06-11 â†’ 2018-06-26,11,0.226804,-0.026667,0.832588,1.000000,0.832588
28,2018-06-11 â†’ 2018-06-26 â†’ 2018-06-26 â†’ 2018-07-11,5,-0.111111,1.000000,0.357143,1.000000,1.000000
29,2018-06-26 â†’ 2018-07-11 â†’ 2018-07-11 â†’ 2018-07-26,11,0.048443,-0.078431,0.479150,1.000000,0.479150
30,2018-07-11 â†’ 2018-07-26 â†’ 2018-07-26 â†’ 2018-08-10,20,0.009324,0.602510,0.571336,1.000000,0.983137
31,2018-07-26 â†’ 2018-08-10 â†’ 2018-08-10 â†’ 2018-08-25,22,-0.030295,0.286689,0.632386,0.999998,0.990057
32,2018-08-10 â†’ 2018-08-25 â†’ 2018-08-25 â†’ 2018-09-09,9,0.520000,1.000000,0.730111,1.000000,1.000000

In [7]:
# 1. Extraire les dates min/max
query_min_max = """
SELECT MIN(order_purchase_timestamp) AS min_date,
       MAX(order_purchase_timestamp) AS max_date
FROM orders
"""
min_date, max_date = pd.read_sql_query(query_min_max, conn).iloc[0]
min_date = pd.to_datetime(min_date)
max_date = pd.to_datetime(max_date)

# 2. GÃ©nÃ©rer des bornes de pÃ©riodes tous les 15 jours
quinzaines = pd.date_range(start=min_date, end=max_date, freq='5D')

# 3. VÃ©rifier les pÃ©riodes avec commandes
df_dates = pd.read_sql_query("SELECT order_purchase_timestamp FROM orders", conn)
df_dates['order_purchase_timestamp'] = pd.to_datetime(df_dates['order_purchase_timestamp'])

# 4. GÃ©nÃ©rer le RFM pour chaque pÃ©riode de 15 jours
rfm_all_periods = []

for i in range(len(quinzaines) - 1):
    start = quinzaines[i]
    end = quinzaines[i + 1]

    # VÃ©rifier prÃ©sence de commandes
    has_orders = df_dates[
        (df_dates['order_purchase_timestamp'] >= start) &
        (df_dates['order_purchase_timestamp'] < end)
    ]

    if has_orders.empty:
        continue

    query = f"""
    WITH max_date AS (
        SELECT DATE('{end.date()}') AS global_max_date
    ),
    customer_orders AS (
        SELECT 
            c.customer_unique_id,
            o.order_id,
            o.order_purchase_timestamp
        FROM customers c
        JOIN orders o ON c.customer_id = o.customer_id
        WHERE o.order_purchase_timestamp BETWEEN '{start.date()}' AND '{end.date()}'
    ),
    payments AS (
        SELECT 
            co.customer_unique_id,
            MAX(co.order_purchase_timestamp) AS last_order_date,
            COUNT(DISTINCT co.order_id) AS frequency,
            SUM(op.payment_value) AS monetary
        FROM customer_orders co
        JOIN order_pymts op ON co.order_id = op.order_id
        GROUP BY co.customer_unique_id
    ),
    rfm AS (
        SELECT 
            p.customer_unique_id,
            CAST(JULIANDAY(m.global_max_date) - JULIANDAY(p.last_order_date) AS INT) AS recency,
            p.frequency,
            ROUND(p.monetary, 2) AS monetary
        FROM payments p
        CROSS JOIN max_date m
    )

    SELECT *, '{start.date()} â†’ {end.date()}' AS period
    FROM rfm
    """

    df_rfm = pd.read_sql_query(query, conn)
    rfm_all_periods.append(df_rfm)

# Fusionner tous les RFM
rfm_all_periods = pd.concat(rfm_all_periods, ignore_index=True)

# 5. Ã‰valuer la stabilitÃ© entre pÃ©riodes consÃ©cutives
periods = sorted(rfm_all_periods['period'].unique())
results = []

for i in range(len(periods) - 1):
    period_1 = periods[i]
    period_2 = periods[i + 1]

    df1 = rfm_all_periods[rfm_all_periods['period'] == period_1].copy()
    df2 = rfm_all_periods[rfm_all_periods['period'] == period_2].copy()

    common_ids = set(df1.customer_unique_id).intersection(df2.customer_unique_id)
    df1 = df1[df1.customer_unique_id.isin(common_ids)].set_index("customer_unique_id")
    df2 = df2[df2.customer_unique_id.isin(common_ids)].set_index("customer_unique_id")

    if len(common_ids) < 5:
        continue  # ignorer si trop peu de clients communs

    scaler = StandardScaler()
    X1 = scaler.fit_transform(df1[['recency', 'frequency', 'monetary']])
    X2 = scaler.fit_transform(df2[['recency', 'frequency', 'monetary']])

    # Clustering
    kmeans_1 = KMeans(n_clusters=4, random_state=42).fit(X1)
    kmeans_2 = KMeans(n_clusters=4, random_state=42).fit(X2)

    dbscan_1 = DBSCAN(eps=1.0, min_samples=5).fit(X1)
    dbscan_2 = DBSCAN(eps=1.0, min_samples=5).fit(X2)

    # StabilitÃ© des clusters
    ari_kmeans = adjusted_rand_score(kmeans_1.labels_, kmeans_2.labels_)
    ari_dbscan = adjusted_rand_score(dbscan_1.labels_, dbscan_2.labels_)

    # Test KS pour la stabilitÃ© des distributions
    ks_results = {
        'recency': ks_2samp(df1['recency'], df2['recency']).pvalue,
        'frequency': ks_2samp(df1['frequency'], df2['frequency']).pvalue,
        'monetary': ks_2samp(df1['monetary'], df2['monetary']).pvalue,
    }

    results.append({
        'period_pair': f"{period_1} â†’ {period_2}",
        'n_clients_common': len(common_ids),
        'ARI_kmeans': ari_kmeans,
        'ARI_dbscan': ari_dbscan,
        'KS_pvalue_recency': ks_results['recency'],
        'KS_pvalue_frequency': ks_results['frequency'],
        'KS_pvalue_monetary': ks_results['monetary'],
    })

# 6. RÃ©sultat final
df_eval = pd.DataFrame(results)
display(df_eval)

C:\Users\david\AppData\Local\Temp\ipykernel_10660\1387553555.py:75: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rfm_all_periods = pd.concat(rfm_all_periods, ignore_index=True)

,period_pair,n_clients_common,ARI_kmeans,ARI_dbscan,KS_pvalue_recency,KS_pvalue_frequency,KS_pvalue_monetary
0,2017-11-23 â†’ 2017-11-28 â†’ 2017-11-28 â†’ 2017-12-03,6,-0.250000,1.0,1.000000,1.000000,0.930736
1,2018-01-02 â†’ 2018-01-07 â†’ 2018-01-07 â†’ 2018-01-12,5,-0.111111,1.0,0.873016,1.000000,0.873016
2,2018-05-02 â†’ 2018-05-07 â†’ 2018-05-07 â†’ 2018-05-12,7,-0.037037,1.0,0.962704,0.999961,0.575175
3,2018-07-26 â†’ 2018-07-31 â†’ 2018-07-31 â†’ 2018-08-05,5,-0.111111,1.0,0.873016,1.000000,0.873016

| ðŸ§  Conclusion Globale                                         | âœ… InterprÃ©tation                                                                                                                                  |
|--------------------------------------------------------------|---------------------------------------------------------------------------------------------------------------------------------------------------|
| âœ”ï¸ Distributions RFM stables                                 | Les tests de Kolmogorov-Smirnov montrent que les variables `recency`, `frequency` et `monetary` ne varient pas significativement entre pÃ©riodes. |
| âŒ Clusters (KMeans) instables                               | Les indices ARI sont faibles ou nÃ©gatifs â†’ faible cohÃ©rence des regroupements entre pÃ©riodes.                                                     |
| âž¤ HypothÃ¨se 1 : Ã‰chantillon trop petit                      | Peu de clients communs (5 Ã  7) â†’ peu de donnÃ©es pour former des clusters fiables.                                                                 |
| âž¤ HypothÃ¨se 2 : Comportement client trop changeant          | Les clients peuvent avoir des comportements trÃ¨s variables Ã  lâ€™Ã©chelle de 5 jours.                                                                |
| âž¤ HypothÃ¨se 3 : Clustering inadaptÃ©                         | KMeans suppose des clusters sphÃ©riques et Ã©quilibrÃ©s, ce qui nâ€™est peut-Ãªtre pas le cas ici.                                                      |
| âœ”ï¸ Clusters (DBSCAN) plus stables                            | DBSCAN montre une stabilitÃ© des regroupements (ARI = 1), ce qui indique une meilleure capacitÃ© Ã  identifier des structures sous-jacentes.         |
| âž¤ HypothÃ¨se 4 : DBSCAN dÃ©tecte des structures non sphÃ©riques | Contrairement Ã  KMeans, DBSCAN peut mieux gÃ©rer des structures complexes (clusters de formes variÃ©es) sans faire d'hypothÃ¨ses sur leur forme.    |